 body
{
    background-color: rgb(181, 246, 252);
    color: rgb(255, 255, 255);
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
p.normal{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color:black;
}
p.thick{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
}
h1{
    font-size:15pt;
    color:rgb(14, 89, 225);
}
h2{
     color:rgb(14, 89, 225);
     font-size:25pt;
}
h3{
    color:rgb(14, 89, 225);
}
th{
    color:black;
}
label{
    color:black;
}
 a:visited {
    background-color:darkblue;
}
a:hover{
    background-color:greenyellow;
}   
a:active {
    background-color:blueviolet;
} 

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:blue;
}

.dropdown-content {
    display: none;
    position:fixed;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color:lightgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:blue;
}

.show {
    display: block;
}


