 body
{
    background-color:lightgrey;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.normal{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
p.thick{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
 a:visited {
    background-color:darkblue;
}
a:hover{
    background-color:greenyellow;
}   
a:active {
    background-color:blueviolet;
} 
