html, body{
    height:100%; margin:0; padding:0 }
div { position:fixed; width:50%; padding:1em; box-sizing:border-box; height:50% }
#NW { top:0;   left:0;  }
#NE { top:0;   left:50%;}
#SW { top:50%; left:0;}
#SE { top:50%; left:50%;}  
    
h3{
    color:dodgerblue; 
    font-size:30px;
}
h4{
    color:dodgerblue; 
    font-size:24px; 
    padding-left:50px;
}